.wrapper{
    width: 1250px;
    padding: 100px 0;
    margin: 0 auto;
}

.body{
    width: 100%;
    border: 1px #1D91D0 solid;
    border-radius: 4px;
    display: flex;
    padding: 15px;
}

.status{
    width: 920px;
}

.MuiFormControl-root{
    width: 200px;
    margin-bottom: 20px !important;
}

.nav{
    display: flex;
    position:'absolute';
}

.modalList-selected{
    border: 1px #1D91D0 solid;
    border-top: 7px #1D91D0 solid;
    border-bottom: 1px #FFF solid;
    text-align: center;
    height: 50px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1D91D0;
    position: relative;
    bottom: -1px;
    cursor: pointer;
    font-size: 23px;
    font-weight: 600;
}

.modalList{
    border: 1px lightgray solid;
    border-top: 7px lightgray solid;
    border-bottom: 1px #FFF solid;
    text-align: center;
    height: 50px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
    position: relative;
    bottom: 2px;
    cursor: pointer;
    font-size: 23px;
    font-weight: 600;
}